body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: #bb86fc; /* Light purple for links */
  transition: color 0.3s;
}

.link:hover {
  color: #3700b3; /* Darker purple on hover */
}

.about {
  max-width: 615px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #333; /* Dark border */
  border-radius: 5px;
  text-align: center;
  background-color: #1e1e1e; /* Slightly lighter background for the about section */
}

nav {
  display: flex;
  border-radius: 10px;
  background: linear-gradient(130deg, #440404, #570f21, #121212) no-repeat;
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 5px auto;
  animation: nav-anim 1s ease infinite;
  -moz-animation: nav-anim 1s ease infinite;
}

@keyframes nav-anim {
  0% { background-position: 10% 0%; }
  50% { background-position: 91% 100%; }
  100% { background-position: 10% 0%; }
}

@-moz-keyframes nav-anim {
  0% { background-position: 10% 0%; }
  50% { background-position: 91% 100%; }
  100% { background-position: 10% 0%; }
}

nav > a {
  padding: 5px 10px;
  font-size: 20pt;
  color: white;
  font-variant: small-caps;
  text-decoration: none;
}