.scan-in {
  overflow: hidden;
  will-change: background-position;
  background: -webkit-linear-gradient(#B3FFFF, #69A6EB) no-repeat;
  background: -moz-linear-gradient(#B3FFFF, #69A6EB) no-repeat;
  background: linear-gradient(#B3FFFF, #69A6EB) no-repeat;
  background-size: 100% 5px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  -webkit-animation:
    expandShrink 1.5s ease-in-out forwards,
    moveBackground 1.5s steps(1, end) forwards;
  -moz-animation:
    expandShrink 1.5s ease-in-out 0.01s forwards,
    moveBackground 1.5s steps(1, end) 0.01s forwards;
  animation:
    expandShrink 1.5s ease-in-out forwards,
    moveBackground 1.5s steps(1, end) forwards;
}
  
@keyframes text-in {
  from { height: 0 }
  to { height: 100% }
}

@-webkit-keyframes expandShrink {
  0% { background-size: 100% 0%; }
  50% { background-size: 100% 100%; }
  100% { background-size: 100% 5px; }
}

@-webkit-keyframes moveBackground {
  0% { background-position: top; }
  50% { background-position: bottom; }
  100% { background-position: bottom; }
}

@-moz-keyframes expandShrink {
  0% { background-size: 100% 0%; }
  50% { background-size: 100% 100%; }
  100% { background-size: 100% 5px; }
}

@-moz-keyframes moveBackground {
  0% { background-position: top; }
  50% { background-position: bottom; }
  100% { background-position: bottom; }
}

@keyframes expandShrink {
  0% { background-size: 100% 0%; }
  50% { background-size: 100% 100%; }
  100% { background-size: 100% 5px; }
}

@keyframes moveBackground {
  0% { background-position: top; }
  50% { background-position: bottom; }
  100% { background-position: bottom; }
}

h1.title {
    font-size: 80pt;
    letter-spacing: 0.05em;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white; /* White background for the links section */
  border-radius: 80px; /* Rounded edges */
  padding: 5px; /* Padding for spacing */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.25); /* Subtle shadow */
  margin: 5px auto; /* Margin for spacing */
  width: 100%;
  max-width: 600px;
  min-height: 70px;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: #bb86fc; /* Light purple for links */
  transition: color 0.3s;
  height: auto;
  max-height: 65px;
  max-width: 100%;
  display: block;
}

.link:hover {
  color: #3700b3; /* Darker purple on hover */
  transform: translateY(-4px);
}

.icon {
  height: 40px; /* Adjust size as needed */
  margin: 0 10px; /* Space between icons */
}

.project-card {
  background-color: #1e1e1e; /* Slightly lighter dark background */
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.project-subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}


.project-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.project-title a {
  color: #bb86fc; /* Light purple */
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-title a:hover {
  color: #3700b3; /* Darker purple */
}

.project-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #dddddd;
  text-align: center;
}
